*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* margin: 0; */
}

:root {
  --primary-light-hsl: 200, 100%, 91%;
  --primary-dark-hsl: 200, 100%, 6%;
  --primary-hsl: 200, 100%, 50%;
  --success-hsl: 100, 60%, 50%;
  --error-hsl: 0, 60%, 50%;
}
body {
  margin: 0;
}

.full-screen-container {
  background-image: url("https://source.unsplash.com/1600x1000/?sunrise");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palindrome-container {
  --color: hsl(var(--primary-dark-hsl), 0.7);
  background-color: var(--color);
  box-shadow: 0 0 15px 0 var(--color);
  padding: 40px 30px;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
  min-height: 400px;
}
.title {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.user-input-div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.user-input-div label {
  color: white;
  font-weight: lighter;
  text-align: center;
}

.user-input-div input,
.note-div,
.results {
  font-size: 1.25rem;
  padding: 0.5rem;
  background-color: hsl(var(--primary-light-hsl), 0.3);
  border: none;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-weight: lighter;
  text-align: center;
}

.user-input-div input:focus {
  box-shadow: 0 0 2px 1px hsl(var(--primary-hsl));
}

.check-btn {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  background-color: hsl(var(--primary-hsl), 0.25);
  border: 1px solid hsl(var(--primary-hsl));
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
  color: white;
}
.check-btn:hover,
.check-btn:focus {
  background-color: hsl(var(--primary-hsl), 0.4);
}
.results {
  transition: opacity 0.5s ease-in-out;
}
.hidden {
  display: none;
}

.user-input {
  font-size: 1.4rem;
  margin-top: 10px;
  text-align: center;
}
